
 <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" id="templateColumns">
        <!-- START HEADER/BANNER -->
        <tbody>
            <tr>
                <td align="center">
                    <table class="wrapper"
                        style=" font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol'; background-color: #fff; background-clip:padding-box; border: 1px solid #F3F4FB; border-radius: .3rem; box-shadow: 0 1rem 3rem rgba(0,0,0,0.175); color: rgb(61,68,90);"
                        width="300" align="center" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td align="center">
                                    <table class="" width="300" height="100%" border="0" align="center"
                                        cellpadding="0" cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <td height="50"></td>
                                            </tr>
                                            <tr>
                                                <td align="center"
                                                    style="margin-bottom: 25px; font-size: 37px; line-height:24px; font-weight: bold; letter-spacing: 7px; color: rgb(26,126,207); padding-bottom:35px;">
                                                    Vue Mailer
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center">
                                                    <p
                                                        style="line-height: 25px; font-weight: 300; padding: 0 30px 30px; text-align:center;">
                                                        Hello {{user}}..Thanks For registering on our platform.<br>
                                                        Please verify your account by clicking the button.
                                                    </p>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td align="center">
                                                    <a style="display: inline-flex; padding: 8px 25px; text-decoration:none; font-weight:400; border-radius: .25rem; cursor:pointer; font-size: 1rem; background-color:rgb(26,126,207); border:none; color: #fff"
                                                        href="{{host}}/confirmation/{{id}}/{{token}}">Vérify</a>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td height="50"></td>
                                            </tr>
                                            <tr>
                                                <td align="center"
                                                    style="box-sizing: border-box; border-top:1px solid #edeff2; font-size: 13px; padding:25px 45px; font-weight: 300;">
                                                    <p>If you didn't made this request you may safely ignore this email.
                                                    </p>
                                                    <p>If you are unable to click the button, copy and paste the url below into your web browser :
                                                        <a href="{{host}}/confirmation/{{id}}/{{token}}">{{host}}/confirmation/{{id}}/{{token}}</a>
                                                    </p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>

            <!-- END HEADER/BANNER -->
        </tbody>
    </table>